In [1]:
#create new MySQL instance
%env INSTANCE=mysql

env: INSTANCE=mysql

In [2]:
!mysql < /home/jupyter/sakila/sakila-database.sql

In [3]:
!mysql < /home/jupyter/sakila/sakila-data.sql

In [4]:
#Test to see if the database is populated
!mysql sakila -e "show tables"

+----------------------------+
| Tables_in_sakila           |
+----------------------------+
| actor                      |
| actor_info                 |
| address                    |
| category                   |
| city                       |
| country                    |
| customer                   |
| customer_list              |
| film                       |
| film_actor                 |
| film_category              |
| film_list                  |
| film_text                  |
| inventory                  |
| language                   |
| nicer_but_slower_film_list |
| payment                    |
| rental                     |
| sales_by_film_category     |
| sales_by_store             |
| staff                      |
| staff_list                 |
| store                      |
+----------------------------+

In [5]:
!mysql sakila -e "select count(*) from actor"

+----------+
| count(*) |
+----------+
|      200 |
+----------+

In [6]:
!mysql sakila -e "select count(*) from address"

+----------+
| count(*) |
+----------+
|      603 |
+----------+

In [7]:
!mysql sakila -e "select count(*) from city"

+----------+
| count(*) |
+----------+
|      600 |
+----------+

In [8]:
!mysql sakila -e "select count(*) from country"

+----------+
| count(*) |
+----------+
|      109 |
+----------+

In [9]:
!mysql sakila -e "select count(*) from customer"

+----------+
| count(*) |
+----------+
|      599 |
+----------+

In [10]:
!mysql sakila -e "select * from actor limit 3"

+----------+------------+-----------+---------------------+
| actor_id | first_name | last_name | last_update         |
+----------+------------+-----------+---------------------+
|        1 | PENELOPE   | GUINESS   | 2006-02-15 04:34:33 |
|        2 | NICK       | WAHLBERG  | 2006-02-15 04:34:33 |
|        3 | ED         | CHASE     | 2006-02-15 04:34:33 |
+----------+------------+-----------+---------------------+

In [11]:
!mysql sakila -e "select * from address limit 3"

+------------+--------------------+----------+----------+---------+-------------+-------------+---------------------------+---------------------+
| address_id | address            | address2 | district | city_id | postal_code | phone       | location                  | last_update         |
+------------+--------------------+----------+----------+---------+-------------+-------------+---------------------------+---------------------+
|          1 | 47 MySakila Drive  | NULL     | Alberta  |     300 |             |             |        >
2]c4\�vۍ��H@     | 2014-09-25 22:30:27 |
|          2 | 28 MySQL Boulevard | NULL     | QLD      |     576 |             |             |        ��߁$c@N��P"�;�        | 2014-09-25 22:30:09 |
|          3 | 23 Workhaven Lane  | NULL     | Alberta  |     300 |             | 14033335568 |        ��hc4\��~p��H@       | 2014-09-25 22:30:27 |
+------------+--------------------+----------+----------+---------+-------------+-------------+---------------------------+---------------------+

In [12]:
!mysql sakila -e "select * from city limit 3"

+---------+--------------------+------------+---------------------+
| city_id | city               | country_id | last_update         |
+---------+--------------------+------------+---------------------+
|       1 | A Corua (La Corua) |         87 | 2006-02-15 04:45:25 |
|       2 | Abha               |         82 | 2006-02-15 04:45:25 |
|       3 | Abu Dhabi          |        101 | 2006-02-15 04:45:25 |
+---------+--------------------+------------+---------------------+

In [13]:
!mysql sakila -e "select * from country limit 3"

+------------+----------------+---------------------+
| country_id | country        | last_update         |
+------------+----------------+---------------------+
|          1 | Afghanistan    | 2006-02-15 04:44:00 |
|          2 | Algeria        | 2006-02-15 04:44:00 |
|          3 | American Samoa | 2006-02-15 04:44:00 |
+------------+----------------+---------------------+

In [14]:
!mysql sakila -e "select * from customer limit 3"

+-------------+----------+------------+-----------+-------------------------------------+------------+--------+---------------------+---------------------+
| customer_id | store_id | first_name | last_name | email                               | address_id | active | create_date         | last_update         |
+-------------+----------+------------+-----------+-------------------------------------+------------+--------+---------------------+---------------------+
|           1 |        1 | MARY       | SMITH     | MARY.SMITH@sakilacustomer.org       |          5 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           2 |        1 | PATRICIA   | JOHNSON   | PATRICIA.JOHNSON@sakilacustomer.org |          6 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           3 |        1 | LINDA      | WILLIAMS  | LINDA.WILLIAMS@sakilacustomer.org   |          7 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
+-------------+----------+------------+-----------+-------------------------------------+------------+--------+---------------------+---------------------+

In [15]:
#Test to show actor Table
!mysql sakila -e "desc actor"

+-------------+-------------------+------+-----+-------------------+-----------------------------------------------+
| Field       | Type              | Null | Key | Default           | Extra                                         |
+-------------+-------------------+------+-----+-------------------+-----------------------------------------------+
| actor_id    | smallint unsigned | NO   | PRI | NULL              | auto_increment                                |
| first_name  | varchar(45)       | NO   |     | NULL              |                                               |
| last_name   | varchar(45)       | NO   | MUL | NULL              |                                               |
| last_update | timestamp         | NO   |     | CURRENT_TIMESTAMP | DEFAULT_GENERATED on update CURRENT_TIMESTAMP |
+-------------+-------------------+------+-----+-------------------+-----------------------------------------------+

In [16]:
# Select the names and id columns of actors whose first names are Penelope, and order the result set in 
# descending alphabetical order of last names
!mysql sakila -e "select last_name,first_name,actor_id from actor where first_name = 'Penelope' order by last_name"

+-----------+------------+----------+
| last_name | first_name | actor_id |
+-----------+------------+----------+
| CRONYN    | PENELOPE   |      104 |
| GUINESS   | PENELOPE   |        1 |
| MONROE    | PENELOPE   |      120 |
| PINKETT   | PENELOPE   |       54 |
+-----------+------------+----------+

In [17]:
# Insert a new record that adds the actor Juan Chavarria into the actor table, with a timestamp of the 
# time when the actor was inserted at the table (current_timestamp)
!mysql sakila -e "insert into actor (actor_id, first_name, last_name, last_update) values (null, 'JUAN','CHAVARRIA',current_timestamp)"

In [18]:
# Show the newly inserted record 
!mysql sakila -e "select * from actor where last_name = 'CHAVARRIA'"

+----------+------------+-----------+---------------------+
| actor_id | first_name | last_name | last_update         |
+----------+------------+-----------+---------------------+
|      201 | JUAN       | CHAVARRIA | 2023-09-07 01:51:06 |
+----------+------------+-----------+---------------------+

In [19]:
# Update the values of the newly inserted record by changing the actor's name to Alex Garza
# and changing the timestamp to the time when the record was updated
!mysql sakila -e "update actor set first_name = 'ALEX', last_name = 'GARZA', last_update = current_timestamp where actor_id = 201"

In [20]:
# Show the newly udpated record
!mysql sakila -e "select * from actor where actor_id = 201"

+----------+------------+-----------+---------------------+
| actor_id | first_name | last_name | last_update         |
+----------+------------+-----------+---------------------+
|      201 | ALEX       | GARZA     | 2023-09-07 01:51:06 |
+----------+------------+-----------+---------------------+

In [21]:
# The actor 201 record (the line we originally inserted) is then deleted from the table
!mysql sakila -e "delete from actor where actor_id = 201"

In [22]:
# Request the record with an actor ID of 201. Since nothing is returned, we know we have deleted the record.
!mysql sakila -e "select * from actor where actor_id = 201"